@using ModelLibrary.Blogs
@model BlogModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "Новый блог";
}

<html>
	<body>
		<h2 class="title">@ViewData["Title"]</h2>
		<form asp-action ="CreateBlog" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label asp-for="Name" class="control-label">Название</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Preview" class="control-label">Краткое описание</label>
				<input asp-for="Preview" class="form-control" />
				<span asp-validation-for="Preview" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label">Полное описание</label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ImageFile" class="control-label">Фото</label>
				<input asp-for="ImageFile" class="form-control" />
				<span asp-validation-for="ImageFile" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</body>
</html>
