@using ModelLibrary.Contacts;

@model IEnumerable<Contact>
@{
	Layout = "_Layout";
	ViewData["Title"] = "Контактная информация";
}

<html>
	<body>
		<h2 class="title">
			@ViewData["Title"]
		</h2>
		@foreach (Contact c in Model)
		{
			<div class="contact">
				<div class="contact-name">
					@c.Name
				</div>
				<div>
					Адрес: @c.Address
				</div>
				<div>
					Электронная почта: @c.Email
				</div>
			</div>
		}
	</body>
</html>
