@using ModelLibrary.Projects
@model IEnumerable<Project>
@{
	Layout = "_Layout";
	ViewData["Title"] = "Проекты";
}

<html>
	<body>
		<h2 class="title">@ViewData["Title"]</h2>
		@foreach(Project project in Model)
		{
			string imageBase64Data = Convert.ToBase64String(project.ImageData);
			<div class="card">
				<div class="card-top">
					<a asp-controller="Project" asp-action="getone" asp-route-id="@project.Id" class="card-img">
						<img src="@string.Format("data:image/jpeg;base64,{0}",imageBase64Data)" alt="ProjectImage" style="width: 350px; height: auto"/>
					</a>
				</div>
				<div>
					@project.Preview
				</div>
			</div>
		}
	</body>
</html>