@using ModelLibrary.Projects
@model ProjectModel
@{
	Layout = "_Layout";
}

<html>
	<body>
		<form asp-action="UodateProject" asp-controller="Project" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label asp-for="Preview" class="control-label">Краткое описание</label>
				<input asp-for="Preview" value="@Model.Preview" class="form-control" />
				<span asp-validation-for="Preview" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label">Полное описание</label>
				<input asp-for="Description" value="@Model.Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>

			@if(Model.ImageDataUrl != null)
			{
				<div class="Form-group">
					<label>Текущее изображение</label>
					<img src="@Model.ImageDataUrl" alt="Current Image" style="width: 100px; height:auto" />
				</div>
			}
			<label asp-for="ImageFile">Загрузите новое изображение, если хотите его заменить</label>
			<input asp-for="ImageFile" type="file" />
			<div class="form-group">
				<input type="submit" value="Обновить" class="btn btn-primary"/>
			</div>
		</form>
	</body>
</html>
